{% extends 'base.html' %}

{% load static %}

{% block page_title %}CFC Stock Mgt | Manage Stock{% endblock %}

{% block gestion_des_stock_classes %}active{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/managestock.js' %}"></script>
    <script src="{% static 'js/managesuppliers.js' %}"></script>
    <script src="{% static 'js/manageentries.js' %}"></script>
{% endblock %}

{% block page_content %}
<datalist id="equipments-list">
  {% for equipment in equipments %}
      <option value="{{ equipment.equipmentName }}">{{ equipment.equipmentName }}</option>
  {% endfor %}
</datalist>

{% if request.user.is_superuser or request.user.employee.isStockManager %}
<div class="box_right d-flex lms_block justify-content-end">
  <div class="add_button ms-2">
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#new-equipment-modal"
      class="btn_1"
      >Ajouter un equipement</a
    >
  </div>

  <div class="add_button ms-2">
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#new-entry-modal"
      class="btn_1"
      id="new-entry-modal-toggle"
      >Ajouter un entree</a
    >
  </div>

  <div class="add_button ms-2">
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#new-discharge-modal"
      class="btn_1"
      id="new-discharge-modal-toggle"
      >Ajouter un decharge</a
    >
  </div>
</div>
{% endif %}

<div class="row py-3">
  <div class="col-sm-12 col-9 m-b-20">
      <ul class="nav nav-tabs" role="tablist">
          {% if request.user.is_superuser or request.user.employee.isStockManager %}
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-target="#equipments" data-bs-toggle="tab" id="equipments-tab">Stock</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-target="#entries" data-bs-toggle="tab" id="entries-tab">Entrees</button>
          </li>
          {% endif %}

          {% if request.user.is_superuser or request.user.employee.isStockManager or request.user.employee.is_structure_head %}
          <li class="nav-item" role="presentation">
              <button class="nav-link {% if request.user.employee.is_structure_head %}active{% endif %}" data-bs-target="#discharges" data-bs-toggle="tab" id="discharges-tab">Décharges</button>
          </li>
          {% endif %}
      </ul>
  </div>
</div>

<div class="row tab-content" id="stock-tab-content">
  {% if request.user.is_superuser or request.user.employee.isStockManager %}
  <div class="tab-pane fade show active my-2" id="equipments" role="tabpanel" aria-labelledby="equipments-tab">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header">
            <div class="box_header m-0">
              <div class="main-title">
                <h3 class="m-0">Equipements</h3>
              </div>
            </div>
          </div>
          <div class="white_card_body">
            <div class="QA_section">
              <div class="QA_table mb_30">
                <table id="equipments-table" class="table table-striped lms_table_active">
                  <thead>
                    <tr>
                      <th scope="col"><input class="select-all-rows" type="checkbox"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Quantity left</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12"></div>
    </div>
  </div>
  {% endif %}

  {% if request.user.is_superuser or request.user.employee.isStockManager %}
  <div class="tab-pane fade show my-2" id="entries" role="tabpanel" aria-labelledby="entries-tab">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header">
            <div class="box_header m-0">
              <div class="main-title">
                <h3 class="m-0">Entrees</h3>
              </div>
            </div>
          </div>
          <div class="white_card_body">
            <div class="QA_section">
              <div class="QA_table mb_30">
                <table id="entries-table" class="table table-striped lms_table_active">
                  <thead>
                    <tr>
                      <th scope="col"><input class="select-all-rows" type="checkbox"></th>
                      <th scope="col">Prestataire</th>
                      <th scope="col">Date entrees</th>
                      <th scope="col">Equipements</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12"></div> -->
    </div>
  </div>
  {% endif %}

  {% if request.user.is_superuser or request.user.employee.isStockManager or request.user.employee.is_structure_head %}
  <div class="tab-pane fade show my-2 {% if request.user.employee.is_structure_head %}active{% endif %}" id="discharges" role="tabpanel" aria-labelledby="discharges-tab">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header">
            <div class="box_header m-0">
              <div class="main-title">
                <h3 class="m-0">Decharges</h3>
              </div>
            </div>
          </div>
          <div class="white_card_body">
            <div class="QA_section">
              <div class="QA_table mb_30">
                <table id="discharges-table" class="table table-striped lms_table_active">
                  <thead>
                    <tr>
                      <th scope="col"><input class="select-all-rows" type="checkbox"></th>
                      <th scope="col">Structure</th>
                      <th scope="col">Date sortie</th>
                      <th scope="col">Equipements</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12"></div> -->
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% if request.user.is_superuser or request.user.employee.isStockManager %}
    <div
    class="modal fade"
    id="new-equipment-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nouvel equipement</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputEmail1"
                        >Nom de l'equipement</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="new-equipment-name"
                        aria-describedby="emailHelp"
                        placeholder="par ex. Clavier"
                      />
                      <small id="emailHelp" class="form-text text-muted"
                        ></small
                      >
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1"
                        >Quantite en stock</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="new-equipment-quantity"
                        placeholder="Quantite"
                        value="0"
                        min="0"
                      />
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="new-equipment-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>

    <input type="hidden" data-bs-toggle="modal" data-bs-target="#equipment-detail-modal" id="equipment-detail-modal-toggle">

    <div
    class="modal fade"
    id="equipment-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="equipment-detail-modal-title"></h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputEmail1"
                        >Nom de l'equipement</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="equipment-detail-name"
                        aria-describedby="emailHelp"
                        placeholder="par ex. Clavier"
                      />
                      <small id="emailHelp" class="form-text text-muted"
                        ></small
                      >
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1"
                        >Quantite en stock</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        id="equipment-detail-quantity"
                        placeholder="Quantite"
                        value="0"
                        min="0"
                      />
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="equipment-detail-modal-close" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="equipment-detail-modify">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser or request.user.employee.isStockManager or request.user.employee.is_structure_head %}
    <div
    class="modal fade"
    id="new-entry-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="new-entry-modal-title"></h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="new-entry-purchaseorder-id">
                <div class="row">
                    <div class="col-md-7">
                        <label for="new-entry-supplier">Prestataire</label>
                        <select id="new-entry-supplier" class="form-select">
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.supplierId }}">{{ supplier.supplierName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="new-entry-date">Date</label>
                        <input type="date" id="new-entry-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-new-entry-table" value="3" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-new-entry-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="new-entry-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="new-entry-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="new-entry-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>

    <div
    class="modal fade"
    id="stock-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="stock-detail-modal-title"></h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="stock-detail-purchaseorder-id">
                <div class="row">
                    <div class="col-md-7">
                        <label for="stock-detail-supplier">Prestataire</label>
                        <select id="stock-detail-supplier" class="form-select">
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.supplierId }}">{{ supplier.supplierName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="stock-detail-date">Date</label>
                        <input type="date" id="stock-detail-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-stock-detail-table" value="3" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-stock-detail-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="stock-detail-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" data-bs-toggle="modal" data-bs-target="#stock-detail-modal" id="stock-detail-modal-toggle">
            <div class="modal-footer">
                <button type="button" id="stock-detail-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="stock-detail-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser or request.user.employee.isStockManager %}
    <div
    class="modal fade"
    id="new-discharge-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="new-discharge-modal-title">Nouveau decharge</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="new-discharge-purchaseorder-id">
                <div class="row">
                    <div class="col-md-7">
                        <label for="new-discharge-structure">Structure</label>
                        <select id="new-discharge-structure" class="form-select">
                            {% for structure in structures %}
                                {% if request.user.employee.is_structure_head and request.user.employee.structure == structure %}
                                <option value="{{ structure.structureId }}">{{ structure.structureName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="new-discharge-date">Date</label>
                        <input type="date" id="new-discharge-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto justify-content-end">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-new-discharge-table" value="1" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-new-discharge-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="new-discharge-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="new-discharge-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="new-discharge-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>

    <div
    class="modal fade"
    id="discharge-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="discharge-detail-modal-title"></h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="discharge-detail-purchaseorder-id">
                <div class="row">
                    <div class="col-md-7">
                        <label for="discharge-detail-structure">Structure</label>
                        <select id="discharge-detail-structure" class="form-select">
                            {% for structure in structures %}
                                <option value="{{ structure.structureId }}">{{ structure.structureName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="discharge-detail-date">Date</label>
                        <input type="date" id="discharge-detail-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-discharge-detail-table" value="1" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-discharge-detail-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="discharge-detail-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" data-bs-toggle="modal" data-bs-target="#discharge-detail-modal" id="discharge-detail-modal-toggle">
            <div class="modal-footer">
                <button type="button" id="discharge-detail-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="discharge-detail-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser or request.user.employee.isStockManager %}
    <div
    class="modal fade"
    id="confirm-stock-deletion-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirm-stock-deletion-modal-title">Confirmer la suppression</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h2 class="text-danger">Êtes-vous sûr de bien vouloir supprimer cet entree?</h2>
            </div>
            <input type="hidden" id="confirm-stock-deletion-stock-id">
            <div class="modal-footer">
                <input type="hidden" data-bs-dismiss="modal" id="confirm-stock-deletion-modal-close">
                
                <input type="hidden" data-bs-toggle="modal" 
                data-bs-target="#confirm-stock-deletion-modal" 
                id="confirm-stock-deletion-modal-open">

                <button type="button" id="confirm-stock-deletion-no" class="btn btn-secondary">Non</button>
                <button type="button" id="confirm-stock-deletion-yes" class="btn btn-danger">Oui, je suis sur</button>
            </div>
        </div>
        </div>
    </div>

    <div
    class="modal fade"
    id="confirm-discharge-deletion-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirm-discharge-deletion-modal-title">Confirmer la suppression</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h2 class="text-danger">Êtes-vous sûr de bien vouloir supprimer cette decharge?</h2>
            </div>
            <input type="hidden" id="confirm-discharge-deletion-discharge-id">
            <div class="modal-footer">
                <input type="hidden" data-bs-dismiss="modal" id="confirm-discharge-deletion-modal-close">
                
                <input type="hidden" data-bs-toggle="modal" 
                data-bs-target="#confirm-discharge-deletion-modal" 
                id="confirm-discharge-deletion-modal-open">

                <button type="button" id="confirm-discharge-deletion-no" class="btn btn-secondary">Non</button>
                <button type="button" id="confirm-discharge-deletion-yes" class="btn btn-danger">Oui, je suis sur</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
{% endblock %}