{% extends 'base.html' %}

{% load static %}

{% block page_title %}CFC Stock Mgt | Purchase Orderss{% endblock %}

{% block gestion_des_commandes_classes %}active{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/managepurchaseorder.js' %}"></script>
{% endblock %}

{% block page_content %}
<datalist id="equipments-list">
    {% for equipment in equipments %}
        <option value="{{ equipment.equipmentName }}">{{ equipment.equipmentName }}</option>
    {% endfor %}
</datalist>

<div class="row justify-content-center align-items-center">
    {% if user.is_superuser or user.employee.is_structure_head %}
    <div class="col box_right d-flex lms_block justify-content-start my-3">
        <div class="add_button ms-2">
            <a
              class="btn btn-danger d-none"
              id="delete-many-button"
              <!-- data-bs-target="#confirm-multiple-purchase-orders-deletion-modal"
              data-bs-toggle="modal" -->
              ><i class="fas fa-trash mx-2"></i>Supprimer (2)</a>
        </div>
    </div>

    <div class="col box_right d-flex lms_block justify-content-end my-3">
        <div class="add_button ms-2">
          <a
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#new-purchase-order-modal"
            class="btn_1"
            id="new-purchase-order-modal-toggle"
            ><i class="fas fa-plus mx-2"></i>Ajouter un nouveau</a>
        </div>
    </div>
    {% endif %}
</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="white_card card_height_100 mb_30">
        <div class="white_card_header">
          <div class="box_header m-0">
            <div class="main-title">
              <h3 class="m-0">Commandes des structures</h3>
            </div>
          </div>
        </div>
        <div class="white_card_body">
          <div class="QA_section">
            <div class="QA_table mb_30">
              <table id="purchase-orders-table" class="table table-striped lms_table_active">
                <thead>
                  <tr>
                    {% if request.user.is_superuser or request.user.employee.is_structure_head %}
                        <th scope="col"><input type="checkbox" class="select-all"></th>
                    {% endif %}
                    <th scope="col">Structure</th>
                    <th scope="col">Date</th>
                    <th scope="col">Equipements</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
</div>
{% endblock %}

{% block modals %}
<div
    class="modal fade"
    id="new-purchase-order-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle commande d'une structure</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <label for="new-purchase-order-structure">Structure</label>
                        <select id="new-purchase-order-structure" class="form-select">
                            {% for structure in structures %}
                                {% if request.user.employee.is_structure_head and request.user.employee.structureId == structure %}
                                    <option value="{{ structure.structureId }}">{{ structure.structureName }}</option>
                                {% elif request.user.employee.is_stock_manager or request.user.is_superuser %}
                                    <option value="{{ structure.structureId }}">{{ structure.structureName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="new-purchase-order-date">Date</label>
                        <input type="date" id="new-purchase-order-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-new-purchase-order-table" value="3" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-new-purchase-order-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="new-purchase-order-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="new-purchase-order-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="new-purchase-order-save" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        </div>
</div>

<input type="hidden" id="purchase-order-detail-modal-toggle" 
data-bs-target="#purchase-order-detail-modal" data-bs-toggle="modal">

<div
    class="modal fade"
    id="purchase-order-detail-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="purchase-order-detail-modal-title"></h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="purchase-order-detail-purchaseorder-id">
                <div class="row">
                    <div class="col-md-7">
                        <label for="purchase-order-detail-structure">Structure</label>
                        <select id="purchase-order-detail-structure" class="form-select">
                            {% for structure in structures %}
                                <option value="{{ structure.structureId }}">{{ structure.structureName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="purchase-order-detail-date">Date</label>
                        <input type="date" id="purchase-order-detail-date" class="form-control current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row my-4">
                            <div class="row col-md-8 ml-auto">
                                <div class="col-md-4">
                                    <input type="number" class="form-control mx-1" id="number-of-rows-to-add-to-purchase-order-detail-table" value="3" min="1">
                                </div>
                                <div class="col-md-8">
                                    <button class="btn btn-secondary" id="add-rows-to-purchase-order-detail-table">Ajouter des lignes</button>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <table id="purchase-order-detail-table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Equipement</th>
                                        <th>Quantite</th>
                                    </tr>
                                </thead>
            
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="purchase-order-detail-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                {% if request.user.is_superuser or request.user.employee and request.user.employee.is_structure_head %}
                <button type="button" id="purchase-order-detail-save" class="btn btn-primary">Enregistrer</button>
                {% endif %}
            </div>
        </div>
        </div>
</div>

<div
    class="modal fade"
    id="confirm-purchase-order-deletion-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirm-purchase-order-deletion-modal-title">Confirmer la suppression</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h2 class="text-danger">Êtes-vous sûr de bien vouloir supprimer cet élément?</h2>
            </div>
            <input type="hidden" id="confirm-purchase-order-deletion-purchase-order-id">
            <div class="modal-footer">
                <input type="hidden" data-bs-dismiss="modal" id="confirm-purchase-order-deletion-modal-close">
                
                <input type="hidden" data-bs-toggle="modal" 
                data-bs-target="#confirm-purchase-order-deletion-modal" 
                id="confirm-purchase-order-deletion-modal-open">

                <button type="button" id="confirm-purchase-order-deletion-no" class="btn btn-secondary">Non</button>
                <button type="button" id="confirm-purchase-order-deletion-yes" class="btn btn-danger">Oui, je suis sur</button>
            </div>
        </div>
        </div>
</div>

<div
    class="modal fade"
    id="confirm-multiple-purchase-orders-deletion-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirm-multiple-purchase-orders-deletion-modal-title">Confirmer la suppression</h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h2 class="text-danger">Êtes-vous sûr de bien vouloir supprimer ces éléments?</h2>
            </div>
            <input type="hidden" id="confirm-multiple-purchase-orders-deletion-multiple-purchase-orders-id">
            <div class="modal-footer">
                <input type="hidden" data-bs-dismiss="modal" id="confirm-multiple-purchase-orders-deletion-modal-close">
                
                <input type="hidden" data-bs-toggle="modal" 
                data-bs-target="#confirm-multiple-purchase-orders-deletion-modal" 
                id="confirm-multiple-purchase-orders-deletion-modal-open">

                <button type="button" id="confirm-multiple-purchase-orders-deletion-no" class="btn btn-secondary">Non</button>
                <button type="button" id="confirm-multiple-purchase-orders-deletion-yes" class="btn btn-danger">Oui, je suis sur</button>
            </div>
        </div>
        </div>
</div>
{% endblock %}